/* Đảm bảo chiều cao của toàn bộ trang */
html, body {
    height: 100%;
    margin: 0;
}

/* Cấu hình Flexbox cho body */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-dark);
    line-height: 1.6;
    min-height: 100vh; /* Đảm bảo chiều cao của body luôn chiếm 100% */
}

/* Phần nội dung chính chiếm không gian còn lại */
main {
    flex: 1;
    padding: 3rem 0;
}

/* Footer luôn nằm ở dưới cùng */
.footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 3rem 0 2rem 0;
    margin-top: auto; /* Đảm bảo footer nằm ở dưới cùng */
    white-space: nowrap;
    line-height: 60px;
}

/* Các kiểu khác không thay đổi */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
