@* Views/Home/_NewProducts.cshtml *@
    @model IEnumerable<WebBarberShopBooking.Models.Product>

    <div class="row">
    @foreach (var product in Model)
    {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
    }
    </div>